<%= form_with(model: paquete_contrato) do |form| %>
  <% if paquete_contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paquete_contrato.errors.count, "error") %> prohibited this paquete_contrato from being saved:</h2>

      <ul>
        <% paquete_contrato.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <!-- TODO: Ver que hacer con estos atributos
    <%= form.text_field :total_calculado %>
  </div> -->

  <div class="field">
    <%= form.label :fecha_salida %>
    <%= form.date_select :fecha_salida %>
  </div>



  <div class="field">
    <%= form.label :email_contacto %>
    <%= form.text_field :email_contacto %>
  </div>

  <div class="field">
    <%= form.label :numero_personas, "Cantidad de personas a viajar" %>
    <%= number_field :numero_personas, in: 1..100%>
  </div>

  <% hash = {}  %>
  <% @formasDePago.each_pair do |tipo, nombreFormaPago|  %>
  <div class="field">
    <%= form.label tipo, nombreFormaPago  %>
    <%= check_box_tag tipo, tipo%>
  </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
