<%= form_with(model: paquete_contrato) do |form| %>
  <% if paquete_contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paquete_contrato.errors.count, "error") %> prohibited this paquete_contrato from being saved:</h2>

      <ul>
        <% paquete_contrato.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nro_presupuesto %>
    <%= form.number_field :nro_presupuesto %>
  </div>

  <div class="field">
    <%= form.label :fecha_emision %>
    <%= form.date_select :fecha_emision %>
  </div>

  <div class="field">
    <%= form.label :total_calculado %>
    <%= form.text_field :total_calculado %>
  </div>

  <div class="field">
    <%= form.label :fecha_salida %>
    <%= form.date_select :fecha_salida %>
  </div>

  <div class="field">
    <%= form.label :nro_factura %>
    <%= form.number_field :nro_factura %>
  </div>

  <div class="field">
    <%= form.label :email_contacto %>
    <%= form.text_field :email_contacto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
