<h1>Paquete Contratos</h1>

<table>
  <thead>
    <tr>
      <th>Nro presupuesto</th>
      <th>Fecha emision</th>
      <th>Total calculado</th>
      <th>Fecha salida</th>
      <th>Nro factura</th>
      <th>Email contacto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paquete_contratos.each do |paquete_contrato| %>
      <tr>
        <td><%= paquete_contrato.nro_presupuesto %></td>
        <td><%= paquete_contrato.fecha_emision %></td>
        <td><%= paquete_contrato.total_calculado %></td>
        <td><%= paquete_contrato.fecha_salida %></td>
        <td><%= paquete_contrato.nro_factura %></td>
        <td><%= paquete_contrato.email_contacto %></td>
        <td><%= link_to 'Show', paquete_contrato %></td>
        <td><%= link_to 'Edit', edit_paquete_contrato_path(paquete_contrato) %></td>
        <td><%= link_to 'Destroy', paquete_contrato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paquete Contrato', new_paquete_contrato_path %>
