<br>
<div class="grid-x">
  <div class="cell large-2"></div>
  <div class="cell large-8 text">

<%= form_with(model:  [@agency, @paquete, @pais, @ciudad_localidad]) do |form| %>
  <% if ciudad_localidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ciudad_localidad.errors.count, "error") %> prohibited this ciudad_localidad from being saved:</h2>

      <ul>
        <% ciudad_localidad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :nombre_ciudad, "Nombre de la Ciudad:" %>
  <%= form.text_field :nombre_ciudad, class: "size-letter" %>


  <br>
      <br>
      <div class="grid-x">
        <div class="cell large-3"></div>
        <div class="cell large-6"><%= form.submit class: "button text size expanded rounded"%></div>
        <div class="cell large-3"></div>
      </div>
  <% end %>
  
  </div>
  <div class="cell large-2"></div>
</div>

