<br>
<div class="grid-x">
  <div class="cell large-2"></div>
  <div class="cell large-8 text">

<%= form_with(model:[@agency, @paquete, @hist_precio]) do |form| %>
  <%= render "clientes/shared/error_messages", resource: @hist_precio%>
  
  <%= form.label :fecha_inicio, "Fecha de Inicio del Precio:" %>
  <%= form.date_field :fecha_inicio, class:"form-control input-sm" %>
  <%= form.label :precio_base, "Precio Base del Paquete:" %>
  <%= form.text_field :precio_base, class: "size-letter",size: "70x3" %>
  <div class="grid-x">
      <div class="cell large-3"></div>
      <div class="cell large-6"><%= form.submit class: "button text size expanded rounded"%></div>
      <div class="cell large-3"></div>
  </div>
<% end %>


  </div>
  <div class="cell large-2"></div>
</div>