<p id="notice"><%= notice %></p>

<h1>Alojamiento Hoteles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alojamiento_hoteles.each do |alojamiento_hotel| %>
      <tr>
        <td><%= link_to 'Show', alojamiento_hotel %></td>
        <td><%= link_to 'Edit', edit_alojamiento_hotel_path(alojamiento_hotel) %></td>
        <td><%= link_to 'Destroy', alojamiento_hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alojamiento Hotel', new_alojamiento_hotel_path %>
