<br>
<div class="grid-x">
  <div class="cell large-2"></div>
  <div class="cell large-8 text">

    <%= form_with(model:[@agency, @paquete]) do |form| %>

      <% if paquete.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(paquete.errors.count, "error") %> prohibited this paquete from being saved:</h2>

        <ul>
          <% paquete.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        </div>
      <% end %>

      <h3 class="text">Datos Básicos:</h3>
      <hr>
      <%= form.label :nombre_paquete, "Nombre del Paquete:" %>
      <%= form.text_field :nombre_paquete, class: "size-letter" %>
      <%= form.label :descripcion, "Descrición del Paquete:" %>
      <%= form.text_area :descripcion, class: "size-letter",size: "70x3" %>
      <div class="grid-x">
        <div class="cell large-5">
          <%= form.label :cant_personas, "Cant. de personas que abarca el Paquete:" %>
          <%= form.select :cant_personas, (1..100),  {}  ,{:class => "size-letter"} %>  
        </div>
        <div class="cell large-2"></div>
        <div class="cell large-5">
          <%= form.label :duracion_dias, "Duracion (en dias) del Paquete:" %>
          <%= form.select :duracion_dias, (1..60), {} ,{:class => "size-letter"} %>  
        </div>
      </div>
      <br>
      <hr>
      <div class="grid-x size">
      <div class="cell large-5">
            <p class="text size">Fechas de salida asociadas:</p>
            <hr>
            <% if paquete.calendario_anuales.any? %>
             <% @paquete.calendario_anuales.each do |fecha| %> 
                   <div class="grid-x">
                        <div class="cell large-1"></div>
                        <div class="cell large-4">
                            <p class="text size"><%= fecha.fecha_salida %></p>
                        </div>
                        <div class="cell large-2"></div>
                        <div class="cell large-4">
                            <%= link_to agency_paquete_calendario_anual_path(@agency, @paquete, @calendario_anual), :method => :delete,  data: { confirm: 'Are you sure?' } do%>
                              <button class="button-hover-like button rounded text socios-button expanded"><span>Eliminar Fecha</span><i class="fa fa-heart"></i></button>
                            <% end %>      
                        </div>
                        <div class="cell large-1"></div>
                    </div>
                <% end %>
            <% end %>

      </div>
      <div class="cell large-2"></div>
      <div class="cell large-5 text">
      <p class="text size">Agregar Fechas de Salida:</p>
      <hr>
        <%=render "calendario_anuales/form" , calendario_anual: @paquete.calendario_anuales.build%>
      </div>
    </div>

      <br>
      <% if paquete.id != nil %>
      <h3 class="text">Servicios Asociados:</h3>
      <hr>
      <br>

      <% if paquete.detalle_servicios.any? %>
        <%= render 'detalle_servicios/serviciocolumn'%>
      <% end %>
      <% if paquete.detalle_servicios.empty? %>
        <p class="text title-form size">*No hay servicios asociados a este paquete*</p>
      <% end %>

      <br>
       <div class="grid-x">
        <div class="cell large-3"></div>
        <div class="cell large-6 actions">
          <%= link_to new_agency_paquete_detalle_servicio_path(@agency, @paquete, @detalle_servicio), :method => :get do%>
            <button class="button-hover-like button rounded text socios-button expanded"><span>Agregar Servicio</span><i class="fa fa-heart"></i></button>
          <% end %>
        </div>
        <div class="cell large-3"></div>
      </div> 


      <br>
      <h3 class="text">Itinerario:</h3>
      <hr>
      <br>
      <br>
      <% end %>
      <div class="grid-x">
        <div class="cell large-3"></div>
        <div class="cell large-6 actions"><%= form.submit class: "button text size expanded rounded"%></div>
        <div class="cell large-3"></div>
      </div>
      <% end %>
  </div>
  <div class="cell large-2"></div>
</div>

 


