<br>
<div class="grid-x">
  <div class="cell large-2"></div>
  <div class="cell large-8 text">


<%= form_with(model:[@agency, @paquete, @detalle_servicio]) do |form| %>

  <% if detalle_servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detalle_servicio.errors.count, "error") %> prohibited this detalle_servicio from being saved:</h2>

      <ul>
        <% detalle_servicio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :tipo, "Nombre/Tipo del Servicio:" %>
  <%= form.text_field :tipo, class: "size-letter" %>
  <%= form.label :descripcion, "Descrición del Servicio:" %>
  <%= form.text_area :descripcion, class: "size-letter",size: "70x3" %>
  <%= form.label :comidao, "Incluye comida?" %>
  <%= form.radio_button :comida, "Si" %>
  <%= form.label :comida_Si, "Si" %>
  <%= form.radio_button :comida, "No" %>
  <%= form.label :comida_No, "No" %>

  <p class="text size">Registrar Hotel:</p>
  <br>
  


  
          

  <br>
  <div class="grid-x">
      <div class="cell large-3"></div>
      <div class="cell large-6 actions"><%= form.submit "Crear Servicio", class: "button text size expanded rounded"%></div>
      <div class="cell large-3"></div>
  </div>
<% end %>

 </div>
  <div class="cell large-2"></div>
</div>

 