 <p id="notice"><%= notice %></p> 

<div class="grid-x">
    <div class="cell large-2"></div>
    <div class="cell large-8 title-form">
        <br>
        <h1 class="title">Administración de Agencias</h1>
        <hr class="line">
    </div>
    <div class="cell large-2"></div>
</div>

<br>
<br>
<div class="grid-x">
  <div class="cell large-4"></div>
  <div class="cell large-8"> 
    <div class="grid-x text">
    <div class="cell large-5">
      <%= button_to "Agregar Agencia", { action: "new" }, class: "button expanded rounded size" %>
    </div>
    <div class="cell large-2"></div>
    <div class="cell large-5">
      <%= button_to "Eliminar Agencia", { action: "new" }, class: "button expanded rounded size" %>
    </div>
    </div>
  </div>
</div>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency', new_agency_path %>
