<br>
<div class="grid-x">
  <div class="cell large-2"></div>
  <div class="cell large-8 text">

<%= form_with(model: [@agency, @paquete, @atraccion]) do |form| %>
  <% if atraccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atraccion.errors.count, "error") %> prohibited this atraccion from being saved:</h2>

      <ul>
        <% atraccion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :nombre_atraccion, "Nombre de la Atraccion:" %>
  <%= form.text_field :nombre_atraccion, class: "size-letter" %>
  <%= form.label :descripcion_atraccion, "Descrición de la Atraccion:" %>
  <%= form.text_area :descripcion_artraccion, class: "size-letter",size: "70x3" %>

 <br>
      <br>
      <div class="grid-x">
        <div class="cell large-3"></div>
        <div class="cell large-6"><%= form.submit class: "button text size expanded rounded"%></div>
        <div class="cell large-3"></div>
      </div>
  <% end %>
  
  </div>
  <div class="cell large-2"></div>
</div>

