<div class="grid-x">
    <div class="cell large-2"></div>
    <div class="cell large-8 title-form">
        <br>
        <h1 class="title">Editar <%= resource_name.to_s.humanize %></h1>
        <hr class="line">
    </div>
    <div class="cell large-2"></div>
</div>


<div class="grid-x">
  <div class="cell large-2"></div>
    <div class="cell large-8 text">
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "clientes/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nombre, "Primer nombre:" %>
        <%= f.text_field :nombre %>
      </div>

      <div class="field">
        <%= f.label :segundo_nombre, "Segundo Nombre:" %>
        <%= f.text_field :segundo_nombre %>
      </div>

      <div class="field">
        <%= f.label :primer_apellido, "Primer apellido:" %>
        <%= f.text_field :primer_apellido %>
      </div>

      <div class="field">
        <%= f.label :segundo_apellido, "Segundo apellido:" %>
        <%= f.text_field :segundo_apellido %>
      </div>

      <div class="field">
        <%= f.label :direccion, "Dirección:" %>
        <%= f.text_field :direccion %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(Dejalo en blanco si no quiere cambiarlo)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caracteres minimo</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="grid-x">
        <div class="cell large-2">
          <%= f.label :genero, "Genero:" %>
          <%= f.select :genero, [["Masculino","M"], ["Femenino","F"], ["Otro","O"]] %>
          <br>
          <%= f.label :tipo, "Tipo de Cliente:" %>
          <%= f.select :tipo, [["Natural","N"], ["Juridico","J"]]%>
        </div>
        <div class="cell large-2"></div>
        <div class="cell large-8">
          <%= f.label :fecha_nac, "Fecha de nacimiento:"%>
          <%=  f.date_select :fecha_nac %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(Necesitamos tu contraseña actual para confirmar tus cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <br>
      <div class="actions">
        <div class="grid-x">
          <div class="cell large-3"></div>
          <div class="cell large-6"><%= f.submit "Actualizar", class: "button text size expanded rounded"%></div>
          <div class="cell large-3"></div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="cell large-2"></div>
    <br>  
</div>

<hr>
<br>
<div class="grid-x">
  <div class="cell large-1"></div>
  <div class="cell large-5"><h3 class="text">¿Quieres cancelar tu cuenta? No podras recuperarla</h3></div>
  <div class="cell large-1"></div>
  <div class="cell large-4"><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "hollow button alert expanded text size rounded" %></div>
  <div class="cell large-1"></div>
</div>
      



