<p id="notice"><%= notice %></p>

<h1>Calendario Anuales</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendario_anuales.each do |calendario_anual| %>
      <tr>
        <td><%= link_to 'Show', calendario_anual %></td>
        <td><%= link_to 'Edit', edit_calendario_anual_path(calendario_anual) %></td>
        <td><%= link_to 'Destroy', calendario_anual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendario Anual', new_calendario_anual_path %>
