<br>
<div class="grid-x">
  <div class="cell large-2"></div>
  <div class="cell large-8 text">


<%= form_with(model: [@agency, @paquete, @itinerario]) do |form| %>
  <% if itinerario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itinerario.errors.count, "error") %> prohibited this itinerario from being saved:</h2>

      <ul>
        <% itinerario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-x">
        <div class="cell large-2"></div>
        <div class="cell large-8">
          <%= form.label :tiempo_estadia, "Tiempo de Estadia:" %>
          <%= form.select :tiempo_estadia, (1..60),  {}  ,{:class => "size-letter"} %>
        </div>
        <div class="cell large-2"></div>
  </div>  
  <%= form.label :descripcion_, "Descrición de la Estadia:" %>
  <%= form.text_area :descripcion, class: "size-letter",size: "70x3" %>


 <br>
      <br>
      <div class="grid-x">
        <div class="cell large-3"></div>
        <div class="cell large-6"><%= form.submit class: "button text size expanded rounded"%></div>
        <div class="cell large-3"></div>
      </div>
  <% end %>
  
  </div>
  <div class="cell large-2"></div>
</div>

 