<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Destinos" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "styles" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rajdhani&display=swap" rel="stylesheet">
</head>

<body>
  <%= render 'home/header' %>

  


  <div class="grid-x">
    <div class="cell large-1"></div>
    <div class="cell large-10">
      
      <% if notice  %>
        <%= render 'home/notice' %>
      <% end %>

      <% if alert %>
        <%= render 'home/alert' %>
      <% end %>

      <%= yield %>

    </div>
    <div class="cell large-1"></div>
  </div>


</body>

<footer>
  <br>
  <br>
  <div class="grid-x footer text">
    <div class="cell large-2"></div>
    <div class="cell large-8">
      <p>© Destinos 2021, Todos los derechos reservados</p>
    </div>
    <div class="cell large-2"></div>
  </div>

</footer>

</html>